@inherits LayoutComponentBase

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Contextual>
        <MudToggleIconButton
            @bind-Toggled="_open"
            Edge="Edge.Start"
            Color="Color.Inherit"
            Icon="@Icons.Material.Filled.Menu"
            ToggledIcon="@Icons.Material.Filled.MenuOpen"
        />
        <MudText Typo="Typo.h5" Class="ml-3">Yalo</MudText>
        <MudSpacer />
        <MudToggleIconButton 
            @bind-Toggled="_isDarkMode"
            Icon="@Icons.Material.Filled.DarkMode"
            Color="Color.Inherit"
            ToggledIcon="@Icons.Material.Filled.LightMode"
            ToggledColor="Color.Warning"
        />
    </MudAppBar>
    <MudDrawer @bind-Open="@_open" Elevation="2" ClipMode="DrawerClipMode.Always">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{
    private bool _open = false;
    private bool _isDarkMode = false;
    private MudThemeProvider _mudThemeProvider;
    
    //TODO REACTIVER LE DARK MODE AUTOMATIQUE EN PRODUCTION
    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         _isDarkMode = await _mudThemeProvider.GetSystemPreference();
    //         StateHasChanged();
    //     }
    // }
}