@page "/config"
@using YALO.Domain.Models
@rendermode InteractiveServer

<PageTitle>Configuration des modules</PageTitle>

<MudContainer Class="pt-2">
    <MudText Typo="Typo.h4" Class="mb-4">Configuration des modules</MudText>
    
    <MudPaper Elevation="5" Class="rounded">
        <div class="screen" id="screen" data-width="1920" data-height="1080" style="aspect-ratio: 1920/1080;">
            @foreach (Module m in _modules)
            {
            <div
                id="@m.Id"
                class="rectangle rounded"
                style="
                    top: @(m.Y)px;
                    left: @(m.X)px;
                    width: @(m.Width)px;
                    height: @(m.Height)px;
                    background-color: yellowgreen;
                    text-align: center;
                    text-wrap: auto;
                    "
                data-width="@m.Width"
                data-height="@m.Height"
                data-top="@m.Y"
                data-left="@m.X"
                onmousedown="@(() => SelectModule(m))"
            ><p>@m.DisplayName</p>
            </div>
            }
        </div>
    </MudPaper>
    
    <div style="position:fixed; bottom:50px;right:50px;">
        @if (_selected is not null)
        {
            <MudStack Row="true" Justify="Justify.FlexEnd">
                <MudStack Class="pb-3" Row="false" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd" >
                    <MudFab Color=@Color.Primary Label="+1" Size="Size.Small" @onclick="() => ModifyHeight(1)" />
                    <MudFab Color=@Color.Primary Label="+10" Size="Size.Small" @onclick="() => ModifyHeight(10)" />
                    <MudFab Color=@Color.Primary Label="+100" Size="Size.Small" @onclick="() => ModifyHeight(100)" />
                    <MudFab Color=@Color.Dark StartIcon=@Icons.Material.Filled.Height Size="Size.Medium" />
                    <MudFab Color=@Color.Primary Label="-100" Size="Size.Small" @onclick="() => ModifyHeight(-100)" />
                    <MudFab Color=@Color.Primary Label="-10" Size="Size.Small" @onclick="() => ModifyHeight(-10)" />
                    <MudFab Color=@Color.Primary Label="-1" Size="Size.Small" @onclick="() => ModifyHeight(-1)"/>
                </MudStack>
                <MudStack Class="pb-3" Row="false" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
                    <MudFab Color=@Color.Primary Label="+1" Size="Size.Small" @onclick="() => ModifyWidth(1)" />
                    <MudFab Color=@Color.Primary Label="+10" Size="Size.Small" @onclick="() => ModifyWidth(10)" />
                    <MudFab Color=@Color.Primary Label="+100" Size="Size.Small" @onclick="() => ModifyWidth(100)" />
                    <MudFab Color=@Color.Dark StartIcon=@Icons.Material.Filled.Height Size="Size.Medium" Style="transform: rotate(90deg);"/>
                    <MudFab Color=@Color.Primary Label="-100" Size="Size.Small" @onclick="() => ModifyWidth(-100)" />
                    <MudFab Color=@Color.Primary Label="-10" Size="Size.Small" @onclick="() => ModifyWidth(-10)" />
                    <MudFab Color=@Color.Primary Label="-1" Size="Size.Small" @onclick="() => ModifyWidth(-1)"/>
                </MudStack>
            </MudStack>
            <MudStack Class="pb-3" Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
                <MudFab Color=@Color.Primary StartIcon=@Icons.Material.Filled.Deselect Size="Size.Medium" @onclick="UnselectItem" />
                <MudFab Color=@Color.Warning StartIcon=@Icons.Material.Filled.Edit Size="Size.Medium" @onclick="EditModule"/>
                <MudFab Color=@Color.Error StartIcon=@Icons.Material.Filled.Delete Size="Size.Medium" @onclick="DeleteModule"/>
                <MudFab Color=@Color.Success StartIcon=@Icons.Material.Filled.Save OnClick="SavePosition" Size="Size.Medium"/>
            </MudStack>
        }
        @if (_selected is null)
        {
            <MudStack Class="pb-3" Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
                <MudFab Color=@Color.Success StartIcon=@Icons.Material.Filled.Save OnClick="SavePosition" Size="Size.Medium"/>
                <MudFab Color=@Color.Primary StartIcon=@Icons.Material.Filled.Add OnClick="AddModule" Label="Ajouter un module"/>
            </MudStack>
        }
    </div>
</MudContainer>
